body {
  font-style: normal;
  font-family: sans-serif;
  font-size: 14px;
  color: black;
}

body nav {
  background-color: black;
}

.clock {
  position: absolute;
  right: 0px;
  top : 0px;

  width: 100px;
  height: 30px;

  border: 2px;
  border-color: white;
}


.onebigcolumn {
  background-color: yellow;
}

header {
  background-image: url(../images/headerback.png);
  display: flex;
  height: 150px;
}

h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  font-size: 40px;
  line-height: 60px;
}

footer {
  display: flex;
  flex-wrap: wrap;
}

.github {
  width: 1;
}

.contact {
  width: 2;
  flex-basis: 2;
  flex-grow: 3;
}

.odyssey {
  width: 1;
}

footer input {
  width: 200px;
  height: 20px;
}

footer img {
  background-color: white;
  width: 20px;
  height: 20px;
}
